# LaTeX auxiliary files
*.log
*.aux
*.bcf
*.nav
*.snm
*.toc
*.bbl
*.blg
*.gz
*-blx.bib
*.out
*.rel
*.bst
*.run.xml
auto
.auctex-auto

# MacOS
.DS_Store
*.md5
*.auxlock
*.Rhistory
/02-slides/06-probability-theory/06-probability-overview-slides.fls
*.fdb_latexmk
*.fls
